#add_music {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

input {
    width: 350px;
    padding: 10px;
}

#submit_btn {
    margin: auto;
    width: 200px;
    height: 100%;
    padding: 10px;
}

.add_another {
    margin-top: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#add_new_data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    min-width: 800px;
    width: 40%;
    height: 70%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.image {
    width: 100%;
}

.box {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    background-color:rgb(68, 121, 182);
}

.no_imag_added {
    background-color: rgb(69, 69, 70);
}

.error_msg {
    width: 100%;
    padding: 20px;
    background-color: #b86262b8;
    color: white;
    font-size: 16px;
    text-align: center;
}