#add_music {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

input {
    width: 350px;
    padding: 10px;
}

input[type=text], input[type=number] {
    text-align: center;
}

#submit_btn {
    border-radius: 0px;
    padding: 8px;
    /* margin: auto;
    width: 200px;
    height: 100%;
    padding: 10px; */
}

.add_another {
    margin-top: 10px;
}

section {
    padding-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 75%;
}

#add_new_data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    min-width: 800px;
    width: 40%;
    height: 700px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.image {
    width: 100%;
}

h2 {
    color: var(--text);
}

.box {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: var(--text);
    letter-spacing: 2px;
    font-size: 16px;
    background-color: var(--btn);
    border: 1px solid var(--btn);
}

.no_imag_added {
    background-color: rgb(69, 69, 70);
}

.error_msg {
    width: 100%;
    padding: 20px;
    background-color: #b86262b8;
    color: var(--text);
    font-size: 16px;
    text-align: center;
}

footer {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
}