#container_band {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#container_band > h1 {
    padding: 0px;
}

.album_info {
    padding: 10px;
    max-width: 500px;   
}

.album_info  {
    text-align: center;
}

.band_img {
    height: 550px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.no_img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--noImg);
    color: white;
}

/*  BTN  */
.btn_box {
    width: 100%;
    text-align: center;
    margin: auto;
}

.band_btn {
    width: 50%;
    border-radius: 0px;
}

/* change album  */
.change_music_container {
    margin-top: 30px;
}

#change_music{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
}

#submit_btn {
    margin: auto;
    width: 200px;
    height: 100%;
    padding: 10px;
}

#submit_image {
    margin: auto;
    width: 150px;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
}

.delete_box {
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.button_container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.delete_album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 20px;
}

.song {
    display: flex;
}

#submit_btn {
    width: 100%;
}

#songs {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

#songs_container {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#songs_container > button {
    margin: auto;
}

#song_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 24px;
    gap: 20px;
}

#song_list > div {
    padding: 20px;
}

.con_delete:hover {
    background-color: rgb(105, 37, 37);
    transition: background-color 0.5s ease-in;
}

.den_delete:hover {
    background-color: rgb(52, 146, 52);
    transition: background-color 0.5s ease-in;
}